@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-principal:#000000;
    --cor-secundaria:#f6f6f6;
    --cor-terciaria:#22D4FD;
    --font-principal:"Krona One", serif;
    --font-secundaria:"Montserrat", sans-serif;

}

*{
    margin: 0;
    padding: 0;
}
.apresentacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}
body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    
}
.cabecalho{
    padding: 2% 0% 0% 15% ;
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link{
    font-family: var(--font-secundaria);
    font-family: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}
.titulo-destaque{
    color: var(--cor-terciaria);
}
img{
    width: 50%;
   
    border-radius: 10px;
    padding-left: 30px;
}
.img:hover{
    background:var(--cor-terciaria);
    cursor: pointer;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: justify;
}
.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-principal);
}
.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight:400px;
    
}
.apresentacao__links__subtitulo{
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__link{
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size:1.5rem;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
    font-weight: 600;
}
.apresentacao__links__link_img{
    width: 32px;
    height: 32px;
}
.apresentacao__links__link:hover{
background-color: #272727;
}
.rodape{
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}
@media (max-width:1200px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho{
        padding: 10%;
        
    }
    .cabecalho_menu{
        justify-content: center;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}